In [97]:
import pandas as pd

In [98]:
df = pd.read_csv('JSPG author database.xlsx - Journal Article Database.csv')
df.head()

,Year - Vol - Issue 1,Year - Vol - Issue 2,Year - Vol - Issue 3,Year - Vol - Issue 4,Year - Vol - Issue 5,Year - Vol - Issue 6,Year - Vol - Issue 7,Year - Vol - Issue 8,Year - Vol - Issue 9,Year - Vol - Issue 10,...,Pronouns 3,Pronouns 4,Pronouns 5,Pronouns 6,Pronouns 7,Pronouns 8,Pronouns 9,Pronouns 10,Pronouns 11,Pronouns 12
0,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,2011 - Vol 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
headers_names = df.columns
headers_names

Index(['Year - Vol - Issue 1', 'Year - Vol - Issue 2', 'Year - Vol - Issue 3',
       'Year - Vol - Issue 4', 'Year - Vol - Issue 5', 'Year - Vol - Issue 6',
       'Year - Vol - Issue 7', 'Year - Vol - Issue 8', 'Year - Vol - Issue 9',
       'Year - Vol - Issue 10',
       ...
       'Pronouns 3', 'Pronouns 4', 'Pronouns 5', 'Pronouns 6', 'Pronouns 7',
       'Pronouns 8', 'Pronouns 9', 'Pronouns 10', 'Pronouns 11',
       'Pronouns 12'],
      dtype='object', length=169)

In [100]:
global_names = []
global_pn = []
global_email = []
global_country = []
global_gender = []
global_re = []
global_career = []
global_article_name = []
global_journal_meta = []
global_submission_type = []
for name in headers_names:
    if 'Author Name' in name:
        authours = df[name]
        global_names.extend(authours)
    if 'Pronouns' in name:
        pn = df[name]
        global_pn.extend(pn)
    if 'Email' in name and not 'Author' in name:
        email = df[name]
        global_email.extend(email)
    if 'Country' in name:
        country = df[name]
        global_country.extend(country)
    if 'Gender' in name:
        gender = df[name]
        global_gender.extend(gender)
    if 'R/E' in name:
        re = df[name]
        global_re.extend(re)
    if 'Career Stage' in name:
        career = df[name]
        global_career.extend(career)
    if 'Article Title' in name:
        article_name = df[name]
        global_article_name.extend(article_name)
    if 'Year - Vol - Issue' in name:
        journal_meta = df[name]
        global_journal_meta.extend(journal_meta)
    if 'Submission Type' in name:
        submission_type = df[name]
        global_submission_type.extend(submission_type)

In [101]:
if len(global_gender) == len(global_names) == len(global_pn) == len(global_email) == len(global_country) == len(global_re) == len(global_career) == len(global_article_name) == len(global_journal_meta) == len(global_submission_type):
    print('All lists are the same length: {}'.format(len(global_names)))
else:
    print('Lists are not the same length')
    print(len(global_names), len(global_pn), len(global_email), len(global_country), len(global_re), len(global_career), len(global_article_name), len(global_journal_meta), len(global_submission_type))
number = 500
print(global_email[number], global_names[number], global_pn[number], global_country[number], global_gender[number], global_re[number], global_career[number], global_article_name[number], global_journal_meta[number], global_submission_type[number])

All lists are the same length: 3864
 Clio.Korn@ucsf.edu,  Clio Korn nan United States nan nan Postdoctoral Assocaite Medical Necessity Standards For Mental Health Parity In California 2020 - Vol 17 - 02 Policy Memo

In [102]:
tuples = list(zip(global_names, global_email, global_country, global_career, global_submission_type, global_journal_meta, global_article_name, global_re, global_gender, global_pn))
# print(tuples)

In [103]:
new_df = pd.DataFrame(tuples, columns=['Name', 'Email', 'Country', 'Career Stage', 'Submisson Type', 'Year - Volume - Issue', 'Article name', 'Race/Ethnicity', 'Gender', 'Pronouns'])
new_df.head()

,Name,Email,Country,Career Stage,Submisson Type,Year - Volume - Issue,Article name,Race/Ethnicity,Gender,Pronouns
0,Tang Li,litang@gatech.edu,United States,Graduate Student,Policy Analysis,2011 - Vol 1,"Charting Nano Environmental, Health, and Safet...",NaN,NaN,NaN
1,Trisha K. Lowe,trishak.lowe@gmail.com,United States,Undergraduate Student,Policy Analysis,2011 - Vol 1,South Forida Groundwater- Technological and Po...,NaN,NaN,NaN
2,Aaron Ray,aarondray@gmail.com,United States,Graduate Student,Policy Analysis,2011 - Vol 1,Adaptive Policy Approaches to Ocean Acidification,NaN,NaN,NaN
3,Kara M Calhoun,kmc4@rice.edu,United States,Undergraduate Student,Op-Ed,2011 - Vol 1,Diversity in Clinical Trials,NaN,NaN,NaN
4,Firas Said Midani,fmidani@umich.edu,United States,Undergraduate Student,Policy Analysis,2011 - Vol 1,Advancement of the Multidisciplinary Research ...,NaN,NaN,NaN

In [104]:
new_df.to_csv('New_authour_db.csv')